// BREAKPOINTS
$breakpoint-mobile: 312px;
$breakpoint-tablet: 768px;
$breakpoint-small-screen: 991px;
$breakpoint-medium-screen: 1200px;
$breakpoint-large-screen: 1600px;

// TEXTS
$textsize-title-xxl: 3.2em;
$textsize-title: 2.5em;
$textsize-title-medium: 2em;
$textsize-subtitle: 1.8em;
$textsize-lead: 1.2em;
$textsize-body: 16px;
$textsize-compact: .9em;

// PADDINGS
$padding-smaller: 16px;
$padding-small: 24px;
$padding-medium: 32px;
$padding-big: 64px;