// BREAKPOINTS
$breakpoint-mobile: 312px;
$breakpoint-tablet: 768px;
$breakpoint-small-screen: 991px;
$breakpoint-medium-screen: 1200px;
$breakpoint-large-screen: 1600px;

// TEXTS
$textsize-title: 3em;
$textsize-title-medium: 2.3em;
$textsize-subtitle: 1.8em;
$textsize-lead: 1.3em;
$textsize-body: 1em;