/*RESETS*/
table, tr, td{
    padding:0;
    margin: 0;
    border: none;
    border-spacing: 0;
}

img {
    padding: 0;
    margin: 0;
}


/*COLORS*/

.bg--maincol,
.boxed.bg--maincol,
.boxed.boxed--border.bg-maincol{
    background-color: #EAB02F;
}

.bg--secondarycol,
.boxed.bg--secondarycol,
.boxed.boxed--border.bg-secondarycol{
    background-color: #212023;
}

.boxed.boxed--border.border--main{
    border: 1px solid #EAB02F;
}

.boxed.boxed--border.border--secondary {
    border: 1px solid #212023;
}

/*BACKGROUNDS*/

[class*="bg--"].texture-dark::before{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
    position: absolute;
    top:0;
    left: 0;
    opacity: .8;
}


/*Common items*/

    /*Paddings*/
    .py-6 {
        padding-top: 6em !important;
        padding-bottom: 6em !important;
    }

    .py-7 {
        padding-top: 7em !important;;
        padding-bottom: 7em !important;;
    }

    .py-8{
        padding-top: 8em !important;;
        padding-bottom: 8em !important;;
    }

    .pt-6{
        padding-top: 6em !important;
    }

    .pt-7{
        padding-top: 7em !important;
    }

    .pt-8{
        padding-top: 8em !important;
    }

    .pb-6{
        padding-bottom: 6em !important;
    }

    .pb-7 {
        padding-bottom: 7em !important;
    }

    .pb-8 {
        padding-bottom: 8em !important;
    }

    @media (min-width: 768px){
        .py-md-6{
            padding-top: 6em !important;;
            padding-bottom: 6em !important;;            
        }

        .py-md-7{
            padding-top: 7em !important;;
            padding-bottom: 7em !important;;            
        }

        .py-md-8{
            padding-top: 8em !important;;
            padding-bottom: 8em !important;;            
        }

        .pt-md-6{
            padding-top: 6em !important;
        }
    
        .pt-md-7{
            padding-top: 7em !important;
        }
    
        .pt-md-8{
            padding-top: 8em !important;
        }

        .pb-md-6{
            padding-bottom: 6em !important;
        }
    
        .pb-md-7 {
            padding-bottom: 7em !important;
        }
    
        .pb-md-8 {
            padding-bottom: 8em !important;
        }
        
        
    }

    @media (min-width: 1200px){
        .py-lg-6{
            padding-top: 6em !important;;
            padding-bottom: 6em !important;;            
        }

        .py-lg-7{
            padding-top: 7em !important;;
            padding-bottom: 7em !important;;            
        }

        .py-lg-8{
            padding-top: 8em !important;;
            padding-bottom: 8em !important;;            
        }

        .pt-lg-6{
            padding-top: 6em !important;
        }
    
        .pt-lg-7{
            padding-top: 7em !important;
        }
    
        .pt-lg-8{
            padding-top: 8em !important;
        }

        .pb-lg-6{
            padding-bottom: 6em !important;
        }
    
        .pb-lg-7 {
            padding-bottom: 7em !important;
        }
    
        .pb-lg-8 {
            padding-bottom: 8em !important;
        }

      
    }



.border--main{
    border-color: #EAB02F; 
}

.border--light{
    border-color: rgba(255, 255, 255, 0.2) !important;
}

.border-top-m{
    border-width: 0;
    border-top-width: 10px;
    border-style: solid;
}

.border-right{
    border-width: 0;
    border-right-width: 10px;
    border-style: solid;
}

.image-side {
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

.image-side img{
    flex-shrink: 0;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;    
}

@media (max-width: 768px){
    .image-side{
        min-height: 100vh;
    }

  
}

.boxed.boxed--shadow{
    box-shadow: 0 0 20px rgba(2, 32, 33, 0.05);
}

hr.short {
    border-width: .45em;
    border-color: #EAB02F;
}

[class*="--section"]
{
    padding-top: 5em;
    position: relative;
}
.btn,
.btn--primary,
.btn .btn__text,
.btn--primary .btn__text,
.btn--primary:visited .btn__text{
    color: #212023;
}

.btn, .btn--primary{
    border: #212023 1px solid !important;
}

.btn:not([class*='primary']),
.btn{
    background-color: transparent;
    
}

.btn:hover,
.btn--primary:hover{
    background-color: #EAB02F;
    
}

.btn--primary {
    background-color: #EAB02F !important;
    color: #212023 !important;
    border: #212023 1px solid !important;
}

.btn__text {
    color: #212023;
}

.switchable__text h2{
    font-size: 3em;
}

strong{
    font-weight: 800;
}

.simple-list li{
    padding: 0.1em 0 0.1em 1em;
    margin: 1em 0;
    line-height: 145%;
}

    /*common items / TABLES*/
    th, td{
        font-size: 1.25em;        
    }

    th span {
        font-size: 0.8em;
        opacity: .4;
        font-weight: 400;
    }


/*NAV*/
.nav-container{
    /*background-color: #212023;*/
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.hamburger-toggle i{
    color: #EAB02F;

}

.menu-horizontal > li > a, .menu-horizontal > li > span, .menu-horizontal > li > .modal-instance > .modal-trigger{
    color: white;
}

.menu-horizontal > li > a:hover,
.menu-horizontal > li > span:hover,
.menu-horizontal > li > .modal-instance > .modal-trigger:hover{
    color: white;
}

/*HEADER*/
html{
    scroll-behavior: smooth;
}

/*BODY*/


.hero-wrapper{
    position: relative;
    padding-top: 20em;
    padding-bottom: 17em;
}

.hero-wrapper:before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    background: url("../img/hajo/kisfaludy_img_39-min.jpg") no-repeat center;
    background-size: cover;
    z-index: -1;
    opacity: .65;
    filter: grayscale(100%) brightness(90%) contrast(125%) sepia(.2);
}

.hero-wrapper:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    background-color: black;
    opacity: .8;
    z-index: -1;
}

.hero-wrapper h1,
.hero-wrapper p{
    color: white;
}

.hero-wrapper h1{
    font-size: 4em;
    font-weight: 800;
}
.hero-wrapper .lead{
    text-align: center;
}

    /*INTRODUCTION*/
    /*end of introduction*/

.contact-form {
    padding: 1em 0;
    max-width: 450px;
}

.departure-sites-img {
    overflow: hidden;
    background-color: #e4f1f9;
}

.departures--section{
    position: relative;
}

    /*TICKETS section*/

  
 
    /*MAP section*/


    /*Infos section*/
    .info--section{
        position: relative;
    }
    /*.info--section:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: block;
        background: url("../img/hajo/kisfaludy_img_7-min.jpg") no-repeat;
        background-size: cover;
        background-position: top;
        opacity: .95;
        filter: grayscale(100%);
    }

    .info--section:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: block;
        background-color: black;
        opacity: .85; 
    } */

    .timetable tr:not(:last-child) td{
        border-bottom: 1px solid #EAB02F;
    }

    .timetable td{
        font-size: 1.25em;
        text-align: center;
        padding: 1em 0;
    }

    .timetable td:not(:last-child)
    {
        border-right: 1px solid #EAB02F;
    }

    .ticket-table td{
        width: 50%;
    }

    /*Slider section*/

    .gallery--section{
        padding: 0;
        margin: 0;
    }
    .image-slider{
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }

    [class*="slide__"] {
        width: 100%;
        max-width: 650px;
        position: relative;
        
    }

    [class*="slide__"] .img-container{
        width: 100%;
        height: 500px;
        position: relative;    
        overflow: hidden;  
        display: block;  
    }

    [class*="slide__"] .img-container img{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        min-height: 100%;
        width: auto;
        object-fit: cover;
    }

    [class*="slide__"] img:not(:last-child){
        padding-right: 1em;       
    }

    /*FAQ section*/
    .accordion .accordion__title {
        position: relative;
        opacity: .65;
    }
    .accordion__title,
    .accordion li:last-child .accordion__title{
        border-color: black;
    }

    .accordion .accordion__title:before{
        content:'\e80c';
    }

    .accordion__title span,
    .accordion-1 li.active .accordion__title span,
    .accordion .accordion__title:before,
    .accordion-1 li.active .accordion__title:before{
        color: black;
    }

    .accordion-1 li.active .accordion__title{
        background-color: #EAB02F;
        border-color: black;
    }

    .accordion__title:before{
        position: absolute;
        left: 10px;
        top: 7px;
    }

    .accordion__title span{
        margin-left: 12px;
    }

    /*FORM section*/

    .form--section:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: block;
        background: url("../img/hajo/kisfaludy_img_12-min.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        opacity: .08;
        filter: grayscale(100%);
    }


/*FOOTER*/

footer .logo{
    max-width: 120px;
}