@charset "UTF-8";
/*
===========================================
TITLE:      Kisfaludy style
            https://kisfaludygozos.hu

Author:     Gábor Tamási
Email:      tamasi@isf.hu

===========================================
TABLE OF CONTENTS
-----------------

00 ---- RESETS
01 ---- COLORS
02 ---- IMAGES
03 ---- TEXTS-----------------------
        01 - TEXT SIZES
        02 - TEXT WEIGHTS
        03 - TEXT DECORATIONS
        ----------------------------
04 ---- BACKGROUNDS
05 ---- GENERAL FORMATTING----------
        01 - OPACITY            
        02 - TRANSFORMATIONS
        03 - PADDINGS
        04 - DIVIDERS
        05 - BORDERS
        06 - IMAGE, IMAGE POSITIONING
        07 - LISTS
        08 - TABLES
        09 - ACHOR OFFSETS
        
06 ---- BUTTONS
        -----------------------------
        01 - BTN MAIN
        -----------------------------
07 ---- EFFECTS
08 ---- SITE IMAGES
09 ---- SECTIONS --------------------
        01 - HEADER
             A - NAV
             B - HERO
        02 - 

===========================================
*/
/*=========================================
            00 - RESETS
=========================================*/
html,
body {
  height: 100%;
}

table, tr, td {
  padding: 0;
  margin: 0;
  border: none;
  border-spacing: 0;
}

img {
  padding: 0;
  margin: 0;
}

section.bg--secondary:not(.imagebg) + section:not(.imagebg):not([class*='bg-']) {
  border-top: 1px solid #ebebeb;
}

/*GRID SYSTEM*/
.container {
  position: relative;
}

@media (min-width: 1640px) {
  .container-xl {
    width: 100%;
    max-width: 1400px;
  }
}

/*=========================================
            01 - COLORS
=========================================*/
.textcol-main {
  color: #e7cc5e !important;
}

.textcol-dark {
  color: #353331 !important;
}

.textcol-darker {
  color: #252525 !important;
}

.text--maincol,
span.text--maincol strong {
  color: #e7cc5e !important;
}

.bg--maincol,
.boxed.bg--maincol,
.boxed.boxed--border.bg-maincol {
  background-color: #e7cc5e;
}

.bg--secondarycol,
.boxed.bg--secondarycol,
.boxed.boxed--border.bg-secondarycol {
  background-color: #252525;
}

.boxed.boxed--border.border--main {
  border: 1px solid #e7cc5e;
}

.boxed.boxed--border.border--secondary {
  border: 1px solid #353331;
}

/*=========================================
            02 - IMAGES
=========================================*/
.fillimage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fillimage img {
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 100%;
}

/*=========================================
            03 - TEXTS
=========================================*/
/*-----------------------------------
                01 - TEXT SIZES
    -----------------------------------*/
.text-xs,
p.text-xs {
  font-size: .8em !important;
}

.type--fine-print {
  line-height: 1.8em;
}

.switchable__text h2 {
  font-size: 3em;
}

.textsize-small {
  font-size: .6em;
  line-height: .8em;
}

.textsize-medium {
  font-size: .85em;
  line-height: 1.5em;
}

.textsize-normal {
  font-size: 1em;
  line-height: 1.2em;
}

.textsize-big {
  font-size: 1.2em;
  line-height: 1.8em;
}

.textsize-bigger {
  font-size: 1.4em;
  line-height: 2em;
}

.textsize-huge {
  font-size: 2em;
  line-height: 2.2em;
}

/*-----------------------------------
                02 - TEXT WEIGHTS
    -----------------------------------*/
strong {
  font-weight: 800;
}

/*-----------------------------------
                03 - TEXT DECORATIONS
    -----------------------------------*/
[class*="decorline-"] {
  position: relative;
  display: inline-block !important;
  padding-bottom: 12px;
  width: 100%;
}

[class*="decorline-"]::after {
  content: "";
  display: block;
  bottom: 0;
  left: 0;
}

.decorline-main::after {
  width: 40px;
  height: 6px;
  background-color: #e7cc5e;
}

.decorline-thin::after {
  width: 100%;
  height: 1px;
  background-color: #252525;
}

[class*="decorline-"] > h1,
[class*="decorline-"] > h2,
[class*="decorline-"] > h3,
[class*="decorline-"] > h4,
[class*="decorline-"] > h5,
[class*="decorline-"] > h6,
[class*="decorline-"] > p {
  padding-bottom: inherit !important;
}

.decorline-main-small::after {
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 6px;
}

/*=========================================
            04 - BACKGROUNDS
=========================================*/
[class*="bg--"] {
  position: relative;
}

.bg--lightm {
  background-color: rgba(2, 32, 33, 0.045);
}

[class*="bg--"].texture-dark::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  position: absolute;
  top: 0;
  left: 0;
  opacity: .45;
}

/*=========================================
        05 - GENERAL FORMATTING
=========================================*/
html {
  scroll-behavior: smooth;
}

/*-----------------------------------
                01 - OPACITY
    -----------------------------------*/
.opacity-medium {
  opacity: 0.4;
}

/*-----------------------------------
            02 - TRANSFORMATIONS
    -----------------------------------*/
.flip-h {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH;
  -ms-filter: "FlipH";
}

.flip-v {
  transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  -webkit-filter: FlipV;
  filter: FlipV;
  -ms-filter: "FlipV";
}

/*-----------------------------------
                03 - PADDINGS
    -----------------------------------*/
.py-6 {
  padding-top: 6em !important;
  padding-bottom: 6em !important;
}

.py-7 {
  padding-top: 7em !important;
  padding-bottom: 7em !important;
}

.py-8 {
  padding-top: 8em !important;
  padding-bottom: 8em !important;
}

.pt-6 {
  padding-top: 6em !important;
}

.pt-7 {
  padding-top: 7em !important;
}

.pt-8 {
  padding-top: 8em !important;
}

.pb-6 {
  padding-bottom: 6em !important;
}

.pb-7 {
  padding-bottom: 7em !important;
}

.pb-8 {
  padding-bottom: 8em !important;
}

@media (min-width: 768px) {
  .py-md-6 {
    padding-top: 6em !important;
    padding-bottom: 6em !important;
  }
  .py-md-7 {
    padding-top: 7em !important;
    padding-bottom: 7em !important;
  }
  .py-md-8 {
    padding-top: 8em !important;
    padding-bottom: 8em !important;
  }
  .pt-md-6 {
    padding-top: 6em !important;
  }
  .pt-md-7 {
    padding-top: 7em !important;
  }
  .pt-md-8 {
    padding-top: 8em !important;
  }
  .pb-md-6 {
    padding-bottom: 6em !important;
  }
  .pb-md-7 {
    padding-bottom: 7em !important;
  }
  .pb-md-8 {
    padding-bottom: 8em !important;
  }
}

@media (min-width: 1200px) {
  .py-lg-6 {
    padding-top: 6em !important;
    padding-bottom: 6em !important;
  }
  .py-lg-7 {
    padding-top: 7em !important;
    padding-bottom: 7em !important;
  }
  .py-lg-8 {
    padding-top: 8em !important;
    padding-bottom: 8em !important;
  }
  .pt-lg-6 {
    padding-top: 6em !important;
  }
  .pt-lg-7 {
    padding-top: 7em !important;
  }
  .pt-lg-8 {
    padding-top: 8em !important;
  }
  .pb-lg-6 {
    padding-bottom: 6em !important;
  }
  .pb-lg-7 {
    padding-bottom: 7em !important;
  }
  .pb-lg-8 {
    padding-bottom: 8em !important;
  }
}

/*-----------------------------------
        04 - DIVIDERS
    -----------------------------------*/
hr.center {
  margin-left: auto;
  margin-right: auto;
}

hr.medium {
  border-width: .25em;
  width: 35%;
  border-color: #e7cc5e;
  opacity: 1 !important;
}

hr.short {
  border-width: .45em;
  border-color: #e7cc5e;
}

/*-----------------------------------
        05 - BORDERS
    -----------------------------------*/
.border--main {
  border-color: #e7cc5e;
}

.border--light {
  border-color: rgba(0, 0, 0, 0.12) !important;
}

.border-top-m {
  border-width: 0;
  border-top-width: 10px;
  border-style: solid;
}

.border-top-sm {
  border-width: 0;
  border-top-width: 1px;
  border-style: solid;
}

.border-bottom-m {
  border-width: 0;
  border-bottom-width: 10px;
  border-style: solid;
}

.border-right {
  border-width: 0;
  border-right-width: 10px;
  border-style: solid;
}

.border-top-bottom-m {
  border-width: 0;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-style: solid;
}

/*-----------------------------------
        06 - IMAGE, IMAGE POSITIONING
    -----------------------------------*/
.image-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  position: relative;
}

.image-side img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
}

.section-image {
  width: 100%;
  height: auto;
  position: relative;
}

.section-image > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-image::after {
  content: "";
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .image-side {
    min-height: 100vh;
  }
}

.boxed.boxed--shadow {
  -webkit-box-shadow: 0 0 20px rgba(2, 32, 33, 0.05);
  box-shadow: 0 0 20px rgba(2, 32, 33, 0.05);
}

[class*="--section"] {
  padding-top: 3em;
  padding-bottom: 3em;
  position: relative;
}

@media (min-width: 768px) {
  [class*="--section"] {
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

/*-----------------------------------
                07 - LISTS
    -----------------------------------*/
.list {
  display: block;
  padding: 12px 0;
}

.list-nopadding {
  padding: 0 !important;
}

.list > li:not(:first-of-type) {
  padding-top: 6px;
}

.list > li.text-center {
  text-align: center;
}

.list li > ul {
  padding-left: 2em;
}

/*-----LIST STYLES------*/
/*LIGHT STYLE*/
.list.list-style-light > li {
  padding: 0 0 0 20px;
  position: relative;
}

.list.list-style-light > li:before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #e7cc5e;
  top: .75em;
  left: 0;
}

/*LIGHT STYLE -- SUBLIST*/
.list.list-style-light .list-sublist {
  padding: 0;
}

.list.list-style-light .list-sublist > li {
  position: relative;
  padding: 0 0 0 45px;
}

.list.list-style-light .list-sublist > li:before {
  content: "";
  display: block;
  position: absolute;
  top: .8em;
  left: 0;
  width: 25px;
  height: 4px;
  background-color: #252525;
  opacity: .2;
}

/*Button list*/
.list.button-list {
  width: 100%;
  cursor: pointer;
}

.list.button-list > li {
  padding: 12px 16px;
  border: 1px solid #212023;
  border-radius: 10px;
  overflow: hidden;
  font-size: 1.2em;
  color: #212023;
}

@media (min-width: 768px) {
  .list {
    padding: 12px;
  }
}

.list.button-list > li:not(:first-of-type) {
  margin-top: 12px;
}

.list.button-list > li:focus,
.list.button-list > li:hover {
  background-color: #e7cc5e;
}

.list.button-list.theme-dark > li:focus,
.list.button-list.theme-dark > li:hover,
.list.button-list.theme-dark > li.active {
  background-color: #252525;
  color: #e7cc5e;
}

.simple-list li {
  padding: 0.1em 0 0.1em 1em;
  margin: 1em 0;
  line-height: 145%;
}

/*-----------------------------------
                08 - TABLES
    -----------------------------------*/
th, td {
  font-size: 1.25em;
}

th span {
  font-size: 0.8em;
  opacity: .4;
  font-weight: 400;
}

/*-----------------------------------
                09 - ANCHOR OFFSETS
    -----------------------------------*/
:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

/*=========================================
            06 - BUTTONS
=========================================*/
.btn {
  width: 100% !important;
  white-space: normal;
}

.autowidth [class*="btn"] {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 768px) {
  .btn {
    width: 100% !important;
  }
  .autowidth [class*="btn"] {
    width: auto !important;
    margin-left: 0;
    margin-right: 0;
  }
}

.btn,
.btn--primary,
.btn .btn__text,
.btn--primary .btn__text,
.btn--primary:visited,
.btn:active,
.btn:hover {
  color: #212023;
  font-weight: 800;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.hero-CTA {
  color: white;
}

.btn.hero-CTA:hover {
  color: black;
}

.btn, .btn--primary {
  border: #212023 1px solid !important;
}

.btn:not([class*='primary']),
.btn {
  background-color: transparent;
}

.btn:hover,
.btn--primary:hover {
  background-color: #e7cc5e;
}

.btn--primary {
  background-color: #e7cc5e !important;
  color: #212023 !important;
  border: #212023 1px solid !important;
}

/*-----------------------------------
            01 - BTN MAIN
    -----------------------------------*/
.btn.btn--main {
  min-width: 100%;
  background-color: #e7cc5e;
}

.bg--dark .btn--main {
  font-size: 1.2em;
  padding: .65em;
  color: black;
  text-transform: uppercase;
  font-weight: 800;
}

@media (min-width: 768px) {
  .btn.btn--main {
    width: 100%;
    width: auto !important;
  }
}

/*=========================================
            07 - EFFECTS
=========================================*/
.blur-me {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

/*=========================================
            08 - SITE IMAGES
=========================================*/
@media (min-width: 768px) {
  .section-image::after {
    display: block;
  }
  /* ---- RENDEZVÉNY OLDAL ---- */
  .section-image.image-rendezveny-1::after {
    background-image: url(../img/rendezveny_intro_01.jpg);
  }
}

/*=========================================
            09 - SECTIONS
=========================================*/
/*-----------------------------------
            01 - NAV
            [index.html] [rendezvenyek.html]
    -----------------------------------*/
.nav--section {
  padding: 0;
  z-index: 1000;
  min-height: 75px;
  width: 100%;
}

.nav--section.nav-absolute-top {
  position: absolute;
  top: 0;
}

.nav--section .nav-container {
  background-color: transparent;
  width: 100%;
  min-height: 75px;
  z-index: 1000;
  top: -50px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.nav--section .nav-container.nav-primary {
  padding: 6px 0;
  background-color: transparent;
}

.nav--section .nav-container.nav-secondary {
  padding: 6px 0;
  background-color: #252525;
  border-bottom: 4px solid #e7cc5e;
}

.nav-container.sticky {
  position: fixed;
  top: 0;
}

/* ---- LOGO ---- */
.nav-container .logo {
  top: 10px;
}

/* ---- General menu functions ---- */
.inactive {
  pointer-events: none !important;
  opacity: .4;
}

/* ---- Menu theme resets ---- */
.menu-horizontal > li:not(:hover) > a {
  opacity: .8;
}

.hamburger-toggle i {
  color: #e7cc5e;
}

.menu-horizontal > li > a, .menu-horizontal > li > span, .menu-horizontal > li > .modal-instance > .modal-trigger {
  color: white;
}

.menu-horizontal > li > a:hover,
.menu-horizontal > li > span:hover,
.menu-horizontal > li > .modal-instance > .modal-trigger:hover {
  color: white;
}

/* ---- Dropdown menu ---- */
.menu-horizontal .dropdown {
  position: relative;
  z-index: 10000;
}

.menu-horizontal .dropdown > a::after {
  font-family: stack-interface;
  content: '\e80c';
  -webkit-transition: -webkit-transform ease .2s;
  transition: -webkit-transform ease .2s;
  transition: transform ease .2s;
  transition: transform ease .2s, -webkit-transform ease .2s;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.menu-horizontal .dropdown:hover > a::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-horizontal .dropdown > a {
  pointer-events: none;
}

.menu-horizontal .dropdown-content {
  display: none;
  position: relative;
  z-index: initial;
  background-color: transparent;
  width: auto;
}

.menu-horizontal .dropdown-content > li {
  display: block;
  margin: 0 0 10px 0;
  width: auto;
}

.menu-horizontal .dropdown-content > li:not(:first-of-type) {
  border-top: 1px solid #353331;
  padding-top: 5px;
}

.menu-horizontal .dropdown-content a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.menu-horizontal .dropdown:active .dropdown-content,
.menu-horizontal .dropdown:focus .dropdown-content {
  display: block;
}

.menu-horizontal .dropdown:hover .dropdown-content {
  display: block;
}

/* ---- Dropdown menu - LANG ---- */
.dropdown
.lang-flag {
  display: inline-block;
  height: 20px;
  width: 25px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}

.lang-flag.eng {
  background-image: url(../img/graphic_assets/flag_en.jpg);
}

.lang-flag.de {
  background-image: url(../img/graphic_assets/flag_de.jpg);
}

/* ---- Media queries ---- */
@media (min-width: 768px) {
  .menu-horizontal .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #252525;
    opacity: 0;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
  }
  .menu-horizontal .dropdown:hover .dropdown-content,
  .menu-horizontal .dropdown--active .dropdown-content {
    opacity: 1;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
  }
  .menu-horizontal .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
  }
}

/*-----------------------------------
            02 - HERO
    -----------------------------------*/
.hero-wrapper {
  position: relative;
  padding-top: 30vh;
  padding-bottom: 17em;
  min-height: 100vh;
  overflow: hidden;
}

.hero-wrapper:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  display: block;
  background: url("../img/hero-pic-small.jpg") no-repeat center;
  background-size: cover;
  -webkit-filter: sepia(10%) grayscale(100%);
  filter: sepia(10%) grayscale(100%);
  z-index: -20;
}

@media screen and (min-width: 768px) {
  .hero-wrapper:before {
    background: url("../img/hero-pic-medium.jpg") no-repeat center;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .hero-wrapper:before {
    background: url("../img/hero-pic.jpg") no-repeat center;
    background-size: cover;
  }
}

@media screen and (min-width: 1920px) {
  .hero-wrapper:before {
    background: url("../img/hero-pic-xl.jpg") no-repeat center;
    background-size: cover;
  }
}

.hero-wrapper:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  background-color: black;
  opacity: .65;
  z-index: -10;
}

.hero-wrapper .filter {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  background-image: url("https://www.transparenttextures.com/patterns/fake-brick.png");
  opacity: 1;
  z-index: -5;
}

.hero-background * {
  -webkit-transform: skewY(0);
  transform: skewY(0);
}

.hero-wrapper h1,
.hero-wrapper p {
  color: white;
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.45);
}

.hero-wrapper h1 {
  font-size: 4em;
  font-weight: 800;
}

.hero-wrapper .btn.hero-CTA {
  border: 1px white solid !important;
  background-color: rgba(0, 0, 0, 0.3);
}

.hero-wrapper .btn.hero-CTA .btn__text {
  color: white !important;
}

.hero-wrapper .btn.hero-CTA:hover .btn__text {
  color: black !important;
}

.hero-wrapper .btn.hero-CTA:hover {
  border: 1px black solid !important;
  background-color: #e7cc5e;
}

.introduction--section {
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .introduction--section {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

/*-----------------------------------
            03 - EVENTS SECTION
            [rendezvenyek.html]
    -----------------------------------*/
.event-description-container.selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.event-description-container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.event-description-pic {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  display: block;
}

.event-description-pic img {
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .event-description-pic {
    height: 360px;
  }
  .event-description-pic::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  /*Event pics*/
  .event-description-pic.eskuvo-pic::after {
    background-image: url(../img/rendezveny_eskuvo_01.jpg);
  }
  .event-description-pic.szuletesnap-pic::after {
    background-image: url(../img/rendezveny_szulinap_01.jpg);
  }
  .event-description-pic.ceges-pic::after {
    background-image: url(../img/rendezveny_ceges_01.jpg);
  }
  .event-description-pic.reklam-pic::after {
    background-image: url(../img/rendezveny_reklam_01.jpg);
  }
}

.event-description-text {
  padding: 32px 0;
  font-size: 1.2em;
  line-height: 1.6em;
}

.event-description-text > .event-title > h2 {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 12px;
  margin: 0;
}

.event-description-text > p {
  padding: 0;
  margin: 0;
}

.event-details {
  font-size: 1em;
  line-height: 1.2em;
  padding-top: 32px;
}

.event-details > h4 {
  padding: 0 0 10px 0;
  margin: 0;
  font-weight: bold;
}

.event-details > h5 {
  padding: 0 0 6px 0;
  margin: 0;
}

.event-details > p {
  line-height: 1.6em;
}

.event-details > p:last-of-type {
  margin-bottom: 10px;
}

.event-list {
  padding-top: 16px;
}

.event-list li > a {
  color: unset;
  text-decoration: none;
}

@media (min-width: 768px) {
  .event-list {
    padding-top: 0;
  }
}

/*cusotm boxes*/
.boxed--style1 {
  padding: 0;
  background-color: white;
}

.boxed--style1 .box-header {
  text-align: center;
  display: block;
  width: 100%;
  color: white;
  border-bottom: 5px solid #e7cc5e;
  padding: 1em 2.5em;
}

/*box-header fonts*/
.boxed--style1 .box-header h1,
.boxed--style1 .box-header h2,
.boxed--style1 .box-header h3,
.boxed--style1 .box-header h4,
.boxed--style1 .box-header h5,
.boxed--style1 .box-header h6 {
  padding: 0 !important;
  margin: 0 !important;
  color: #e7cc5e;
}

.boxed--style1 .box-header h3 {
  font-weight: 600;
}

.boxed--style1 .box-content {
  padding: 1em 2.5em;
}

.boxed--style1 .box-content-section:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.boxed--style1 .box-content-section div {
  padding-right: 25px;
  padding-left: 25px;
}

.box-content-section .box-section-header {
  font-size: 1.65em;
  background-color: rgba(0, 0, 0, 0.045);
  padding-top: 0.65em;
  padding-bottom: 0.65em;
}

/*Graphic assets*/
/*ICONS*/
.icon {
  max-width: 100%;
  max-height: 100%;
  opacity: .45;
}

.icon-m {
  height: 20px;
}

.icon-sm {
  height: 16px !important;
}

.icon-xs {
  height: 8px !important;
}

.icon.pirate-flag {
  content: url("../img/icons/pirate-flag.svg");
}

.icon.wine-glass {
  content: url("../img/icons/wine-glasses.svg");
}

.icon.sunset {
  content: url("../img/icons/sunset.svg");
}

.icon.moon {
  content: url("../img/icons/moon.svg");
}

.icon.ship {
  content: url("../img/icons/ship.svg");
}

/*Symbols*/
.symbol-container {
  display: block;
  width: 100%;
  height: 80px;
  text-align: center;
}

.symbol-1,
.symbol-star {
  max-height: 45px;
  max-width: 100%;
}

.symbol-1 {
  content: url("../img/graphic_assets/symbol-01.svg");
  width: 220px;
}

.symbol-star {
  content: url("../img/graphic_assets/symbol-star.svg");
  width: 50px;
}

[class*="symbol"] {
  display: inline-block;
}

/*HEADER*/
/*BODY*/
.notification--section {
  background-color: #e7cc5e;
}

.notification--section .notification-wrapper {
  padding: 15px;
  border: 2px solid #212023;
  background-color: #e7cc5e;
}

.notification--section h3 {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 5px;
  color: black !important;
}

.notification--section .notification-body-text {
  font-size: 1.3em;
  color: black !important;
}

.contact-form {
  padding: 1em 0;
  max-width: 450px;
}

.gmap {
  width: 100%;
}

.departure-sites-img {
  overflow: hidden;
  background-color: #e4f1f9;
  height: 360px;
  background: url("../img/departures-map.svg") no-repeat;
  background-position: bottom;
  background-size: cover;
}

.departure-sites-img.en {
  background: url("../img/departures-map_en.svg") no-repeat;
  overflow: hidden;
  background-color: #e4f1f9;
  height: 360px;
  background-position: bottom;
  background-size: cover;
}

.departure-sites-img.de {
  background: url("../img/departures-map_de.svg") no-repeat;
  overflow: hidden;
  background-color: #e4f1f9;
  height: 360px;
  background-position: bottom;
  background-size: cover;
}

.route-img {
  background-color: #e4f1f9;
  height: 100%;
  min-height: 400px;
  display: block;
  background: url("../img/route-map.svg") no-repeat;
  background-size: cover;
  background-position: top;
}

.route-img.en {
  background-color: #e4f1f9;
  height: 100%;
  min-height: 400px;
  display: block;
  background: url("../img/route-map_en.svg") no-repeat;
  background-size: cover;
  background-position: top;
}

.route-img.de {
  background-color: #e4f1f9;
  height: 100%;
  min-height: 400px;
  display: block;
  background: url("../img/route-map_de.svg") no-repeat;
  background-size: cover;
  background-position: top;
}

.departures--section {
  position: relative;
}

/*MAP section*/
/*Infos section*/
.info--section {
  position: relative;
  padding-top: 5em;
}

/*.info--section:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: block;
        background: url("../img/hajo/kisfaludy_img_7-min.jpg") no-repeat;
        background-size: cover;
        background-position: top;
        opacity: .95;
        filter: grayscale(100%);
    }

    .info--section:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: block;
        background-color: black;
        opacity: .85; 
    } */
.schedule-timetable {
  padding: 1em;
}

.schedule-timetable > div:not(:nth-child(2n+1)) {
  border-right: 1px solid rgba(2, 32, 33, 0.05);
}

.schedule-timetable > div {
  border-bottom: 1px solid rgba(2, 32, 33, 0.05);
  position: relative;
}

.schedule-timetable > div:last-child {
  border-bottom: none;
}

.schedule-timetable > .schedule-column {
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.schedule-timetable > .schedule-column:nth-last-of-type(-n+1) {
  display: none;
}

@media (min-width: 768px) {
  .schedule-timetable > div:not(:nth-child(2n+2)) {
    border-right: transparent;
  }
  .schedule-timetable > div:not(:nth-child(3n+1)) {
    border-right: 1px solid rgba(2, 32, 33, 0.05);
  }
  .schedule-timetable > div:last-child {
    border-right: none;
  }
  .schedule-timetable > div {
    border-bottom: 1px solid rgba(2, 32, 33, 0.05);
  }
  .schedule-timetable > div:nth-last-child(-n+2) {
    border-bottom: none;
  }
  .schedule-timetable > [class*="col"]:nth-last-of-type(-n+1) {
    display: unset;
  }
}

.schedule-timetable .schedule-header {
  width: 100%;
  text-align: center;
  font-weight: 800;
  padding-top: 10px;
}

.schedule-timetable .schedule-header span {
  vertical-align: middle;
  padding-right: 5px;
}

.schedule-timetable .schedule-time {
  text-align: center;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  font-size: 1.65em;
  font-weight: 600;
  color: black;
}

/*schedule details / icons */
.schedule-timetable .schedule-details {
  display: block;
  width: 100%;
  font-size: .8em;
  line-height: 120%;
  padding: 10px 15px;
  text-align: center;
}

.schedule-timetable .schedule-details span {
  display: inline-block;
  vertical-align: middle;
  opacity: .5;
}

.schedule-timetable .icon:not(:only-child) {
  padding-right: 5px;
}

.schedule-timetable .icon {
  height: .65em;
  opacity: .4;
}

.schedule-timetable .icon.pirate-flag,
.schedule-timetable .icon.moon,
.schedule-timetable .icon.sunset {
  height: .5em;
}

/*.timetable table{
        table-layout: fixed;
    }
    
    .timetable tr:not(:last-child) td{
        border-bottom: 1px solid color(primary);
    }

    .timetable td{
        font-size: 1.65em;
        text-align: center;
        padding: 1em;
        font-weight: 600;
    }

    .timetable td:not(:last-child)
    {
        border-right: 1px solid color(primary);
    }

    .ticket-table td{
        width: 50%;
    }*/
/*Ticket box*/
.ticket-block {
  position: relative;
  padding: 0;
}

.ticket-block span {
  vertical-align: middle;
}

.ticket-block:not(:first-child) {
  border-top: 1px solid rgba(2, 32, 33, 0.1);
}

.ticket-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 65px;
  height: auto;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.ticket-category:not(:first-child) {
  border-top: 1px solid rgba(2, 32, 33, 0.1);
}

.ticket-category-block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
}

.ticket-block .ticket-block-content {
  padding: 0;
  font-size: 1em;
}

.ticket-block .ticket-block-content .block-content-row div {
  padding: 0 1em;
}

.ticket-block .ticket-block-content p {
  padding: 0;
  margin: 0;
  line-height: 100%;
}

.ticket-block .ticket-block-content .block-content-row {
  padding: 1.25em 0;
}

.ticket-block .ticket-block-content .block-content-row:last-child {
  padding-bottom: 0.5em;
}

.ticket-block .ticket-block-content .block-content-row:not(:first-child) {
  border-top: 1px solid rgba(2, 32, 33, 0.05);
}

.ticket-block-header-text {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: .8em;
  font-weight: 800;
  text-transform: uppercase;
  color: black;
  padding-right: 1em;
}

.ticket-block-header-subtext {
  font-weight: 400;
  text-transform: none;
  padding: 0;
  margin: 0;
  line-height: 120%;
  color: #666666;
}

.ticket-block-icon {
  display: block;
  height: auto;
  max-width: 60px;
  max-height: 60px;
  padding: .5em;
  opacity: .45;
}

.ticket-block-icon.icon-sm {
  padding: .5em;
}

@media (min-width: 768px) {
  .ticket-block-header-text {
    font-size: 1em;
    padding-right: 0;
  }
  .ticket-block-icon {
    padding: .45em;
    max-width: 70px;
    max-height: 70px;
  }
  .ticket-block-icon.icon-sm {
    padding: .5em;
  }
}

/*PROGRAMS SECTION*/
.programs--section .program {
  padding-bottom: 1.25em;
  margin-top: 0;
}

.programs--section .program .program-notice {
  height: 30px;
  padding: 10px;
  display: block;
  background-color: #e7cc5e;
  margin-bottom: 10px;
}

.program-notice p {
  padding: 0;
  line-height: 10px;
  color: black;
}

.programs--section .program:last-child {
  margin-bottom: 3em;
}

@media (min-width: 768px) {
  .programs--section .program {
    margin-top: 2em;
  }
  .programs--section .program:last-child {
    margin-bottom: 0;
  }
}

[class*="-icon"] img {
  width: 100%;
}

.programs--section [class*="icon"] {
  max-width: 50px;
  max-height: 65px;
  display: block;
  width: 100%;
  opacity: .35;
}

.programs--section .icon-moon img {
  height: 36px;
}

/*Slider section*/
@media (max-width: 990px) {
  .flickity-prev-next-button {
    display: initial;
  }
}

.gallery--section {
  padding: 0;
  margin: 0;
}

.image-slider {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

[class*="slide__"] {
  width: 100%;
  max-width: 650px;
  position: relative;
}

[class*="slide__"] .img-container {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  display: block;
}

[class*="slide__"] .img-container img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100%;
  width: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

[class*="slide__"] img:not(:last-child) {
  padding-right: 1em;
}

/*FAQ section*/
/*resets*/
.accordion .accordion__title {
  position: relative;
  opacity: .65;
}

.accordion__title,
.accordion li:last-child .accordion__title {
  border-color: black;
}

.accordion .accordion__title:before {
  content: '\e80c';
}

.accordion__title span,
.accordion-1 li.active .accordion__title span,
.accordion .accordion__title:before,
.accordion-1 li.active .accordion__title:before {
  color: black;
}

.accordion-1 li.active .accordion__title {
  background-color: #e7cc5e;
  border-color: black;
}

.accordion__title:before {
  position: absolute;
  left: 10px;
  top: 7px;
}

.accordion__title span {
  margin-left: 12px;
}

.question:last-child .accordion .accordion__title {
  margin-bottom: initial;
}

@media (max-width: 768px) {
  .faq--section .question:last-child {
    padding-bottom: 2em;
  }
  .question:last-child .accordion .accordion__title {
    margin-bottom: 0;
  }
}

/*FORM section*/
.form--section:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background: url("../img/hajo/kisfaludy_img_12-min.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .08;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*MAIN CTA SECTION*/
.main-cta--section {
  padding: 8em 0;
}

.main-cta--section:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../img/hajo/kisfaludy_img_20-small.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: grayscale(100%) brightness(35%);
  filter: grayscale(100%) brightness(35%);
  opacity: .2;
}

@media (max-width: 768px) {
  .main-cta--section:before {
    background: url("../img/hajo/kisfaludy_img_20-medium.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.main-cta--section .main-cta-container {
  padding-top: 2em;
}

/*EMAIL SECTION*/
.email--section [class*="col"]:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .email--section [class*="col"]:first-child {
    border-right: none;
  }
}

.email--section [class*="col"] {
  padding: 0 5em;
}

/*Additional Info Section*/
.additional-info--section {
  background-color: rgba(2, 32, 33, 0.05);
  padding: 4em 0;
}

/*FOOTER*/
footer .logo {
  height: 100%;
  display: block;
}

.footer-desc {
  line-height: 160%;
  padding-top: 1em;
  opacity: .6 !important;
}

.footer-nav li {
  display: block;
}

footer .list-inline li {
  display: inline-block !important;
}

.footer-nav li:before {
  font-family: "stack-interface";
  content: '\e80c';
  margin-right: 1em;
  opacity: .3;
}

footer .list-contact .contact-icon {
  font-size: 1.5em !important;
  opacity: .6;
}

.list-contact a:not(:last-child) {
  margin-right: 0.25em;
}
/*# sourceMappingURL=custom.css.map */